.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    left: 100px;
}

.selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.charas {
    display: flex;
    justify-content: center;
}

.chara1, .chara2, .chara3 {
    margin: 0 20px;
    height: 50%;
    width: 50%;
}


.charas p {
    margin-left: 10px;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    cursor: pointer; 
    outline: none; 
    height: 14px;
    width: 30%;
    background: #8acdff;
    border-radius: 10px;
    border: solid 3px #dff1ff;
  }
  /* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
  /* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
    background: #53aeff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.font-setting {
    position: relative;
    left: 100px;
    top: 50px;
}

.api-key {
    position: relative;
    left: 100px;
    top: 80px;
}

.text-input {
    width: 50%;
}

